[Desktop Entry]
Encoding=UTF-8
Exec=synapse --startup
Hidden=true
Icon=synapse
Name=Synapse
Type=Application
X-GNOME-Autostart-enabled=true
Comment=

